.fontColor{color: rgb(141 141 141);}
input[type="text"]:disabled {
    background: white;
  }
.errDisplay{border-bottom: 1px solid red !important;}
.pamel-group .panel-heading{
  background-color: #f7f9fa;
  color: #333;
  border-color: #ddd;
  padding: 10px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-body{
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}