#OT_User_Summary, #OT_Request_Approval, #OT_Request_ApprovalSummary, #OT_Request_EmpSummary {
	width: 100%; white-space: nowrap;
	td.col-truncate {
		width: 230px !important;
		overflow: hidden;
		text-overflow: ellipsis;
		display: table-caption;
	}
}

.popover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
}

// for ojj //
.filter-date-sm {
	width: 45% !important;
	}
@media screen and (max-width: 780px) {
	.filter-date-sm {
		width: 100px;
	}
}

#Custom_FestiveOT {
	td:first-child {
		color: yellow;
	}
}