  .bulk-profpic {
  	td {
	    vertical-align: middle !important;
	  }
  }
  .pic-options {
    margin-top: 10px;
    td{
	    padding: 5px 10px !important;
	    vertical-align: middle !important;
	  }
  }