<h1>Public Page</h1>
<p>Welcome to JustLogin Angular Scaffolding. You should be able to see this page if you are logged in or not.</p>
<ul>
    <li><a routerLink="/secure-world">Secure</a> - To access the secure page you will need a token. Generate a token and
        pass it to the page URL using the query string property token=</li>
    <li><a routerLink="/hello-world">Public</a> - This page is available to anyone even if they are not logged in.</li>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/invites">Invites</a></li>
    <li><a routerLink="/configuration">Configuration</a></li>
</ul>

<h3>Login</h3>
<p>You can login to generate a token using the login button on the top right.</p>